<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Confirmez vouloir supprimer cette catégorie');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button class="hover:bg-red-700 bg-red-800 cursor-pointer rounded-lg p-2 m-2">Supprimer</button>
</form>
