<div class="">
	<header class="flex justify-center content-center relative">
		<h1 class="mb-2 font-bold">Modification de rappel</h1>
	</header>
	{{ include('reminder/_form_modal.html.twig', {'button_label': 'Valider'}) }}
	{{ include('reminder/_delete_form_modal.html.twig') }}
</div>
